<div class="event">
  <div class="content" id="message-box">
    <div class="summary">
      <h4 class="ui <%= message.user.color %> header"><%= message.user.username %>: <%= message.body %></h4>
    </div>
  </div>
</div>
