<div class="ui <%= @user.color %> compact inverted menu">
    <h3 class="header item"><%= @user.username %>'s page<h3>
    <% if current_user.id == @user.id %>
      <%= link_to "Edit", edit_user_path(@user), class:"item" %>
    <% end %>
</div>
